body {
    font-size: 16px;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    background-color: #7E9803;
}

h1 {
    font-family: DancingSuperserif;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: .1em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin: 0 0.8em 0 0.8em;
    font-weight: bold;
}

em {
    font-style: italic;
    font-weight: bolder;
}

p {
    margin-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

main  ul {
    margin-top: 0.5em;
    margin-left: 1em;
}

main li {
    list-style-type: disc;
}

sup {
    /* styling for superscript - because the default browser styling for this element is removed by the reset css */
    vertical-align: super;
    font-size: smaller;
}

nav {
    display: none;
}

.main-image {
    width: 100%;
    height: auto;
}

nav.menu-open {
    display: block;
}

nav li {
    /* set the basic styles for the navigation item:
      remove the bullet from the li
      align the text
      */
    background-color: #0055a6;
    list-style-type: none;
    text-align: center;
}

nav .selected {
    filter: saturate(150%);
}

nav li+li {
    /* put some margin between adjacent menu items */
    margin-top: 3px;
}

nav li:hover {
    /* change the saturation of the background colour to highlight which item is being hovered over */
    filter: saturate(150%);
}

nav li a {
    text-decoration: none;
    color: white;
    font-family: Edmondsans, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.hamburger-container {
    display: inline-block;
    justify-content: flex-end;
}

.hamburger {
    /* this is for the hamburger menu. It's just a box with rounded corners
    I'm using flexbox to space the bars in the box */
    width: 48px;
    height: 32px;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 8px;
    cursor: pointer;
}

.hamburger div {
    /* using a zero height div to represent each bar in the menu, with a slight radius on the boarder
    to add a bit of softness */
    height: 0;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    border: 2px solid black;
    border-radius: 10%;
}

@media (min-width: 600px) {
    .heading-container {
        justify-content: center;
    }
    h1 {
        font-family: DancingSuperserif;
        font-size: 6rem;
        background-color: #7E9803;
        text-align: center;
        font-weight: bold;
        padding-bottom: .1em;
    }
    .hamburger-container {
        display: none;
    }
    nav {
        display: block;
        background-color: #0055a6;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex-grow: 1;
        margin-top: 0;
    }
}

section {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.content {
    padding-left: 1em;
}

.content>h2 {
    margin-top: 1em;
    margin-bottom: 2em;
}

button {
    width: 150px;
    height: 45px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    border: 2px solid black;
}

button:hover {
    background-color: #0055a6;
    color: white;
}

button:active {
    background-color: #0055a6;
    filter:saturate(120%);
    color: white;
}
.buttons {
    display: flex;
}

button+button {
    margin-left: 1em;
}

@media (min-width: 850px) {
    .main-image {
        width: 800px;
        height: auto;
    }
}

@media (max-width: 1400px) {
    .container {
        display: block;
        padding-left: 1em;
        padding-right: 1em;
    }
    .main-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}